{{ define "main" }}
<body class="features-page" data-spy="scroll" data-target="#page-nav">

    <section class="heading-section section section-on-bg">
        <div class="hero-wrapper">
            <div class="hero-holder"></div>
            <div class="hero-mask-gradient"></div>
        </div><!--//hero-wrapper-->
        <div class="container heading-content">
            <h2 class="headline"></h2>
            <p class="headline"> Unlock the mystery of your data.
                 <br class="hidden-xs"> </p>
            <div class="actions">
                <a href="/signup?plan=DEMO" class="play-trigger btn btn-cta btn-primary"> Try it for free </a>

                <br class="visible-xs-block">
                <a href="/pricing/" class="btn btn-cta btn-primary">Plans &amp; Pricing</a>
            </div>
        </div><!--//container-->
    </section><!--//heading-section-->

    <div class="page-nav-space-holder hidden-xs">
        <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
            <div class="container">
                <ul id="page-nav" class="page-nav nav list-inline">
                    <li><a class="scrollto" href="#feature-block-1">Install</a></li>
                    <li><a class="scrollto"  href="#feature-block-2">Real time</a></li>
                    <li><a class="scrollto"  href="#feature-block-3">Dashboard</a></li>
                    <li><a class="scrollto"  href="#feature-block-4">Analytics</a></li>
                </ul><!--//page-nav-->
            </div>
        </div><!--//page-nav-wrapper-->
    </div><!--//page-nav-space-holder-->

    <div class="feature-blocks container">
        <div id="feature-block-1" class="feature-block feature-block-1">
            <div class="row">
                <div class="feature-content col-md-4 col-sm-6 col-xs-12">
                    <h3 class="feature-title">Install quick and easy</h3>
                    <div class="feature-desc">
                        <p>Just copy and paste the code snippet into the source code on every web page you wish to have the comment system. </p>
                        <p>Want to have it customized? We got you covered! Include all classes and elements to customize in your stylesheet. </p>
                    </div><!--//feature-desc-->
                </div><!--//feature-content-->
                <div class="feature-figure col-md-8 col-sm-6 col-xs-12">
                    <div class="figure-holder">
                        <img class="img-responsive" src="/assets/images/features/easy-to-install.png" alt="">
                    </div><!--//figure-holder-->
                </div>
            </div><!--//row-->
        </div><!--//feature-block-1-->
        <div id="feature-block-2" class="feature-block feature-block-2">
            <div class="row">
                <div class="feature-content col-md-4 col-sm-6 col-xs-12 col-md-push-8 col-sm-push-6 col-xs-push-0">
                    <h3 class="feature-title">Real time</h3>
                    <div class="feature-desc">
                        <p> Follow real-time discussions. Upvote or downvote comments, or actively join conversation. Filter your comments based on sentiment, keywords, topics and syntax. </p>
                        <p> Navigate through comments, reply or share the items. </p>
                    </div><!--//feature-desc-->
                </div><!--//feature-content-->
                <div class="feature-figure col-md-8 col-sm-6 col-xs-12 col-md-pull-4 col-sm-pull-6 col-xs-pull-0">
                    <div class="figure-holder">
                        <img class="img-responsive" src="/assets/images/features/engage-comentarismo.png" alt="comentarismo-admin">
                    </div><!--//figure-holder-->
                </div>
            </div><!--//row-->
        </div><!--//feature-block-2-->
        <div id="feature-block-3" class="feature-block feature-block-3">
            <div class="row">
                <div class="feature-content col-md-4 col-sm-6 col-xs-12">
                    <h3 class="feature-title">Data visualisation</h3>
                    <div class="feature-desc">
                        <p> Which product or content performs better? Explore the data, compare results and act accordingly. </p>
                    </div><!--//feature-desc-->
                </div><!--//feature-content-->
                <div class="feature-figure col-md-8 col-sm-6 col-xs-12">
                    <div class="figure-holder">
                        <img class="img-responsive" src="/assets/images/features/comentarismo-dashboard.png" alt="comentarismo-dashboard">
                    </div><!--//figure-holder-->
                </div>
            </div><!--//row-->
        </div><!--//feature-block-3-->
        <div id="feature-block-4" class="feature-block feature-block-4">
            <div class="row">
                <div class="feature-content col-md-4 col-sm-6 col-xs-12 col-md-push-8 col-sm-push-6 col-xs-push-0">
                    <h3 class="feature-title">Analytics</h3>
                    <div class="feature-desc">
                        <p> Apply our analytics to predict, and improve business performance. Discover, interpret, and communicate meaningful patterns in data. </p>
                    </div><!--//feature-desc-->
                </div><!--//feature-content-->
                <div class="feature-figure col-md-8 col-sm-6 col-xs-12 col-md-pull-4 col-sm-pull-6 col-xs-pull-0">
                    <div class="figure-holder">
                        <img class="img-responsive" src="/assets/images/features/comentarismo-analytics.png" alt="comentarismo-analytics">
                    </div><!--//figure-holder-->
                </div>
            </div><!--//row-->
        </div><!--//feature-block-4-->
    </div><!--//feature-blocks-->

</body>
{{ end }}
