{{ define "main" }}
<body class="about-page">

<section class="heading-section section section-on-bg">
    <div class="hero-wrapper">
        <div class="hero-holder"></div>
        <div class="hero-mask-solid"></div>
    </div><!--//hero-wrapper-->
    <div class="container heading-content">
        <h2 class="headline">About our company</h2>
        <div class="intro">Headquartered in Amsterdam, Comentarismo was founded in 2014 <br> with the idea of helping
            internet users to browse through website's comments. <br>
        </div>
        <div class="actions">
            <a class="scrollto-no-offset" href="#our-mission"><img src="/assets/images/arrow-icon.svg" alt=""></a>
        </div><!--//actions-->
    </div><!--//container-->
</section><!--//heading-section-->

<div class="page-nav-space-holder hidden-xs">
    <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
        <div class="container">
            <ul id="page-nav" class="nav page-nav list-inline">
                <li><a class="scrollto" href="#our-mission">Our Mission</a></li>
                <li><a class="scrollto" href="#our-team">Our Team</a></li>
            </ul><!--//page-nav-->
        </div>
    </div><!--//page-nav-wrapper-->
</div><!--//page-nav-space-holder-->

<div id="our-mission" class="team-block">
    <div class="container block-intro text-center">
        As an avid readers of website comments and product reviews, we have been very vocal about fostering more
        valuable commentary over the Internet,
        and we think we have gone a long way towards making that goal a reality. <br>
        <br>
        Quality of comment sections is not an issue for just individual news sites, it's an issue for us all. The back
        and forth arguments, the insults to authors,
        the irrelevant off topic posts. It mostly would turn off more measured contributors who have something
        relatively valid to add.<br>
        <br>
        The reason people comment on articles is because they want their opinions to be heard and they feel like they
        have something important to say.
        That's why we developed a tool which helps you create a informative atmosphere,
        discover new comments and get instant suggestions using our recommendation engine.
        You can also hang around a bit longer, create a profile, discover interesting people, and analyze what matters
        to you.

        <div class="block-intro text-center"></div>
        <div class="block-cta text-center">
            <a class="btn btn-secondary" href="/contact/"> Get in touch </a>
        </div>

    </div>
</div>

<h2 class="block-heading text-center">Meet our Team. </h2>

<div id="our-team" class="team-block">

    <div class="container block-intro text-center">

        <div class="row">
            <div class="item col-xs-6 col-md-4">
                <div class="item-inner">
                    <img class="img-responsive" src="/assets/images/team/0.jpg" alt="">
                    <div class="mask">
                    </div><!--//mask-->
                    <div class="info text-center">
                        <div class="name">Thomas Modeneis</div>
                        <div class="title">Founder, CTO</div>
                        <ul class="social list-inline">
                            <li><a href="https://twitter.com/thomasmodeneis"><i class="fa fa-twitter"
                                                                                aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/thomasmodeneis/"><i class="fa fa-linkedin"
                                                                                         aria-hidden="true"></i></a>
                            </li>
                            <li><a href="https://github.com/thomasmodeneis"><i class="fa fa-github-alt"
                                                                               aria-hidden="true"></i></a></li>
                        </ul><!--//social-->
                    </div><!--//info-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-xs-6 col-md-4">
                <div class="item-inner">
                    <img class="img-responsive" src="/assets/images/team/1.jpg" alt="">
                    <div class="mask">
                    </div><!--//mask-->
                    <div class="info text-center">
                        <div class="name">Katarina Dabo</div>
                        <div class="title">FE Developer</div>
                        <ul class="social list-inline">
                            <li><a href="https://www.linkedin.com/in/katarinadabo/"><i class="fa fa-linkedin"
                                                                                       aria-hidden="true"></i></a></li>
                            <li><a href="https://github.com/kdabo"><i class="fa fa-github-alt"
                                                                      aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/katinhapentelinha"><i class="fa fa-instagram"
                                                                                         aria-hidden="true"></i></a>
                            </li>
                        </ul><!--//social-->
                    </div><!--//info-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-xs-6 col-md-4">
                <div class="item-inner">
                    <img class="img-responsive" src="/assets/images/team/3.jpg" alt="">
                    <div class="mask">
                    </div><!--//mask-->
                    <div class="info text-center">
                        <div class="name">Ivens F. V. Signorini</div>
                        <div class="title">Lead Developer</div>
                        <ul class="social list-inline">
                            <li><a href="https://www.linkedin.com/in/ivens-signorini/"><i class="fa fa-linkedin"
                                                                                          aria-hidden="true"></i></a>
                            </li>
                            <li><a href="https://github.com/ivensfernando"><i class="fa fa-github-alt"
                                                                              aria-hidden="true"></i></a></li>

                        </ul><!--//social-->
                    </div><!--//info-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-xs-6 col-md-4">
                <div class="item-inner">
                    <img class="img-responsive" src="/assets/images/team/4.jpg" alt="">
                    <div class="mask">
                    </div><!--//mask-->
                    <div class="info text-center">
                        <div class="name">Fabio Cruz</div>
                        <div class="title">Integration Architect</div>
                        <ul class="social list-inline">
                            <li><a href="https://www.linkedin.com/in/fabiomcruz/"><i class="fa fa-linkedin"
                                                                                     aria-hidden="true"></i></a></li>
                            <li><a href="https://github.com/fcruz"><i class="fa fa-github-alt"
                                                                      aria-hidden="true"></i></a></li>

                        </ul><!--//social-->
                    </div><!--//info-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-xs-6 col-md-4">
                <div class="item-inner">
                    <img class="img-responsive" src="/assets/images/team/5.jpg" alt="">
                    <div class="mask"></div><!--//mask-->
                    <div class="info text-center">
                        <div class="name">Cristiano Mazzon</div>
                        <div class="title">Solutions Architect</div>
                        <ul class="social list-inline">
                            <li><a href="https://www.linkedin.com/in/cristiano-mazzon/"><i class="fa fa-linkedin"
                                                                                           aria-hidden="true"></i></a>
                            </li>
                            <li><a href="https://github.com/mazzon"><i class="fa fa-github-alt"
                                                                       aria-hidden="true"></i></a></li>

                        </ul><!--//social-->
                    </div><!--//info-->
                </div><!--//item-inner-->
            </div><!--//item-->

        </div><!--//row-->
    </div><!--//container-->
</div><!--//team-block-->

</body>
{{ end }}
