<nav class="col-xs-3 menu">
    <ul>
        <li class="active withripple" data-target="#about">Material Design for Bootstrap</li>
        <li class="withripple" data-target="#getting-started">Getting Started</li>
        <li><a href="http://admin.comentarismo.com" target="_blank">Comentarismo Admin Panel <i
                class="mdi-action-open-in-new"></i></a>
        </li>
        <li class="withripple" data-target="#checkbox">Checkbox</li>
        <li class="withripple" data-target="#radio-button">Radio Button</li>
        <li class="withripple" data-target="#toggle-button">Toggle Button</li>
        <li class="withripple" data-target="#input">Input</li>
        <li class="withripple" data-target="#fileinput">File Input</li>
        <li class="withripple" data-target="#navbar">Navbar</li>
        <li class="withripple" data-target="#progress-bar">Progress Bar</li>
        <li class="withripple" data-target="#slider">Slider</li>
        <li class="withripple" data-target="#dropdown">Dropdown (Work in progress)</li>
        <li class="withripple" data-target="#dropdown-menu">Dropdown Menu</li>
        <li class="withripple" data-target="#dialog">Dialog</li>
    </ul>
</nav>
