{{ define "main" }}
<div class="container-fluid main">
    <div class="row">
        <div class="pages col-xs-9">
            <div class="row">
                <div class="col-xs-10">
                    <div class="well page active" id="about">
                        <h1 class="header">Start Your <b style="color: #00aa9a">{{ .Params.plan_name | default "PRO" }}</b> Plan now</h1>
                        <h5 class="header">{{ .Params.plan_description | default "" }}</h5>

                        <div class="bs-docs-section">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="bs-component">
                                        <form class="form-horizontal" action="/signup?plan={{ .Params.plan_code | default "PRO" }}" id="target"
                                              method="post">

                                            <div class="form-group">
                                                <label for="name" class="col-md-2 control-label">Full Name</label>
                                                <div class="col-md-10">
                                                    <input type="name" class="form-control" id="name" name="name"
                                                           value="{{ .Params.user_name | default "" }}"
                                                           placeholder="First Name">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="email" class="col-md-2 control-label">Email</label>
                                                <div class="col-md-10">
                                                    <input type="email" class="form-control" id="email" name="email"
                                                           value="{{ .Params.user_email | default "" }}" placeholder="Email">
                                                </div>
                                            </div>

                                            {{ if ne .Params.plan_code "DEMO" }}
                                            <div class="form-group">
                                                <label for="operator" class="col-md-2 control-label">Your Website</label>
                                                <div class="col-md-10">
                                                    <input type="url" value="{{ .Params.user_operator | default "" }}"
                                                           class="form-control" id="operator" name="operator"
                                                           placeholder="Website (example: http://comentarismo.com)">
                                                </div>
                                            </div>
                                            {{ end }}

                                            <div class="form-group">
                                                <label for="jobfunction" class="col-md-2 control-label">Job Function *</label>
                                                <div class="col-md-10">
                                                    <select id="jobfunction" name="jobfunction" class="form-control">
                                                        <option selected="selected" disabled="disabled" value="">Please select</option>
                                                        <option value="Sales">Sales</option>
                                                        <option value="Marketing - Generalist">Marketing - Generalist</option>
                                                        <option value="Marketing - SEO">Marketing - SEO</option>
                                                        <option value="Marketing - Content">Marketing - Content</option>
                                                        <option value="Marketing - Advertising">Marketing - Advertising</option>
                                                        <option value="Business Development">Business Development</option>
                                                        <option value="Business Owner">Business Owner</option>
                                                        <option value="Journalist">Journalist</option>
                                                        <option value="Analyst / Researcher">Analyst / Researcher</option>
                                                        <option value="Investor">Investor</option>
                                                        <option value="Webmaster">Webmaster</option>
                                                        <option value="Other">Other</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="industry" class="col-md-2 control-label">Industry *</label>
                                                <div class="col-md-10">
                                                    <select id="industry" name="industry" class="form-control">
                                                        <option selected="selected" disabled="disabled" value="">Please select</option>
                                                        <option value="Sales">Sales</option>
                                                        <option value="Marketing - Generalist">Marketing - Generalist</option>
                                                        <option value="Marketing - SEO">Marketing - SEO</option>
                                                        <option value="Marketing - Content">Marketing - Content</option>
                                                        <option value="Marketing - Advertising">Marketing - Advertising</option>
                                                        <option value="Business Development">Business Development</option>
                                                        <option value="Business Owner">Business Owner</option>
                                                        <option value="Journalist">Journalist</option>
                                                        <option value="Analyst / Researcher">Analyst / Researcher</option>
                                                        <option value="Investor">Investor</option>
                                                        <option value="Webmaster">Webmaster</option>
                                                        <option value="Other">Other</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="companysize" class="col-md-2 control-label">Company Size *</label>
                                                <div class="col-md-10">
                                                    <select id="companysize" name="companysize" class="form-control">
                                                        <option selected="selected" disabled="disabled" value="">Please select</option>
                                                        <option value="1">1</option>
                                                        <option value="2 - 10">2 - 10</option>
                                                        <option value="11 - 50">11 - 50</option>
                                                        <option value="51 - 100">51 - 100</option>
                                                        <option value="101 - 250">101 - 250</option>
                                                        <option value="251 - 500">251 - 500</option>
                                                        <option value="> 500">&gt; 500</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="plan" class="col-md-2 control-label">Plan *</label>
                                                <div class="col-md-10">
                                                    <select id="plan" name="plan" class="form-control">
                                                        <option selected="selected" disabled="disabled" value="{{ .Params.plan_code | default "PRO" }}">{{ .Params.plan_name | default "PRO" }}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-offset-1 col-md-10">
                                                    <div class="togglebutton">
                                                        <label>
                                                            <input type="checkbox" id="basicrules" name="basicrules"> I agree to
                                                            Comentarismo Basic Rules.
                                                        </label>
                                                    </div>
                                                    <div class="togglebutton">
                                                        <label>
                                                            <input type="checkbox" id="termsofservice" name="termsofservice"> I agree
                                                            to Terms of Service.
                                                        </label>
                                                    </div>
                                                    <div class="togglebutton">
                                                        <label>
                                                            <input type="checkbox" id="privacypolicy" name="privacypolicy"> I agree
                                                            to Privacy Policy.
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-10 col-md-offset-2">
                                                    <button type="button" class="btn btn-default">Cancel</button>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </div>
                                            <div class="alert alert-dismissible alert-danger" id="error-box"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/admin-dist/js/bootstrap.min.js"></script>
<script src="/admin-dist/js/material.js"></script>
<script src="/admin-dist/js/ripples.min.js"></script>
<script>
    $.material.init();
    var errorbox = $("#error-box");
    errorbox.hide();
    $("#target").submit(function (evt) {
        evt.preventDefault();

        var form = evt.currentTarget;

        var js = {
            operator: form.operator ? form.operator.value : "",
            name: form.name.value,
            email: form.email.value,
            basicrules: form.basicrules.checked,
            termsofservice: form.termsofservice.checked,
            privacypolicy: form.privacypolicy.checked,
            jobfunction: form.jobfunction.value,
            industry: form.industry.value,
            companysize: form.companysize.value,
        };

        var request = $.ajax({
            url: "/signup?plan={{ .Params.plan_code | default "PRO" }}",
            type: 'post',
            dataType: 'json',
            data: js,
            xhrFields: {
                withCredentials: true
            }
        });

        request.done(function (data, textStatus, jqXHR) {
            if (jqXHR.status === 200) {
                setTimeout(function () {
                    window.location.href = "/payment";
                }, 500);
            } else if (jqXHR.status === 400) {
                errorbox.empty().append("Could not process your data, Please confirm all fields marked with * are correct.");
                errorbox.show();
            } else if (jqXHR.status === 406) {
                errorbox.empty().append("Could not process your data, Please confirm all fields marked with * are correct.");
                errorbox.show();
            }
        });

        request.fail(function (jqXHR) {
            if (jqXHR.status === 200) {
                setTimeout(function () {
                    window.location.href = "/payment";
                }, 500);
            } else if (jqXHR.status === 400) {
                errorbox.empty().append("Could not process your data, Please confirm all fields marked with * are correct.");
                errorbox.show();
            } else if (jqXHR.status === 406) {
                errorbox.empty().append("Could not process your data, Please confirm all fields marked with * are correct.");
                errorbox.show();
            } else {
                errorbox.empty().append("Could not process info, got a " + jqXHR.status + " error");
                errorbox.show();
            }
        });
    });
</script>
{{ end }}
