{{ define "main" }}
<div class="container-fluid main">
    <div class="row">
        <div class="pages col-xs-9">
            <div class="row">
                <div class="col-xs-10">
                    <div class="well page active" id="about">
                        <h1 class="header">Please select one payment option</h1>
                        <h2><b style="color: #00aa9a">{{ .Params.plan_name | default "PRO" }}</b> Plan</h2>
                        <h5 class="header">{{ .Params.plan_description | default "" }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/admin-dist/js/bootstrap.min.js"></script>
<script src="/admin-dist/js/material.js"></script>
<script src="/admin-dist/js/ripples.min.js"></script>
{{ end }}
