{{ define "main" }}
<body class="contact-page">

    <section class="heading-section section section-on-bg">
        <div class="hero-wrapper">
            <div class="hero-holder"></div>
            <div class="hero-mask-solid"></div>
        </div><!--//hero-wrapper-->
        <div class="container heading-content">
            <h2 class="headline">Get in Touch</h2>
            <div class="meta">We'd love to hear from you.  <br class="hidden-xs"> Whether you're interested in working with us or  <br class="hidden-xs"> just want to tell us who we absolutely must follow on Twitter,  <br class="hidden-xs"> we want to hear from you!</div>
        </div><!--//container-->
    </section><!--//heading-section-->

    <div class="contact-methods">
        <div class="container">
            <div class="row">
                <div class="item col-xs-12 col-sm-6">
                    <div class="item-inner">
                        <h3 class="item-title"><i class="fa fa-life-ring" aria-hidden="true"></i><a target="_blank" href="https://comentarismo.on.spiceworks.com/portal">Get Support</a>.</h3>
                        <div class="item-content">If you have any questions or problems with our product please create a ticket with the <a target="_blank" href="https://comentarismo.on.spiceworks.com/portal">Help Desk</a>. A technician will respond promptly to your issue.  </div>
                    </div><!--//item-inner-->
                </div><!--//item-->

                <div class="item col-xs-12 col-sm-6">
                    <div class="item-inner">
                        <h3 class="item-title"><i class="fa fa-users" aria-hidden="true"></i> Partnership Inquiries</h3>
                        <div class="item-content">Want to partner with us? Simply write us at <a>comentarismobr@gmail.com</a>.</div>
                    </div><!--//item-inner-->
                </div><!--//item-->

            </div><!--//row-->
        </div><!--//container-->
    </div><!--//contact-methods-->

</body>
{{ end }}
